// ===============
// colors palette
// ===============
:root {
  // Site colors
  // =================================================================

  // Background colors
  // =================================================================
  --bg-primary: #e5e5e5; // BG primary background color - (Основной фоновый цвет сайта)
  --bg-secondary: #7678ed; // BG secondary background color - (Дополнительный фоновый цвет сайта)
  --bg-accent: #2e2d2c; // BG accent - например, может быть использован для установки цвета фона для акцентных элементов, таких как

  // Text colors
  // =================================================================
  --text-primary: #2e2d2c; // Text primary text color - (Основной текстовый цвет сайта)
  --text-secondary: #080708; // Text secondary text color - (Дополнительный текстовый цвет сайта)
  --text-accent: #4d64aa; // Text accent - например, может использоваться для установки цвета текста для акцентных элементов на странице, таких как заголовки или кнопки.
  --text-inverse: #e8eddf; // Text inverse - например, может использоваться для настройки цвета текста на темном фоне.
  // =================================================================
}
