@font-face {
	font-family: Futura;
	font-display: swap;
	src: url("../fonts/Futura.woff2") format("woff2"), url("../fonts/Futura.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Halvar;
	font-display: swap;
	src: url("../fonts/Halvar.woff2") format("woff2"), url("../fonts/Halvar.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: icons;
	font-display: swap;
	src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
