.contacts {
  max-width: rem(1080);
  margin: 0 auto;
  .card {
    text-align: center;
    padding: 35px;
    border-radius: 36.48px;
    transition: background 0.4s ease 0s;
    @include adaptiveValue('font-size', 32, 24);
    color: #fff;
    max-width: rem(730);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: rem(15);
    background: linear-gradient(90deg, #2e2d2c, #4d64ab 45%, #010101) var(--x, 0) / 200%;
    &:hover {
      --x: 100%;
    }
    @media (max-width: $tablet) {
      max-width: 100%;
      padding: 30px 20px;
    }
  }

  &__head {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    border-radius: rem(70);
    min-height: rem(310);
    padding: rem(50) rem(20) 0 rem(20);
    position: relative;
    overflow: hidden;
    display: block;
    background: linear-gradient(278deg, #4d64ab 0.78%, #010101 40.27%, #010101 52.08%, #2e2d2c 83.82%, #2e2d2c 94.6%);
    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 372px;
      height: 307px;
      background: url('@img/contacts/contact-mask-1.png') 0 0 no-repeat;
    }
    &::before {
      content: '';
      position: absolute;
      right: 0;
      bottom: 0;
      width: 273px;
      height: 307px;
      background: url('@img/contacts/contact-mask-2.png') 0 0 no-repeat;
    }
    @media (max-width: $mobile) {
      &::after,
      &::before {
        display: none;
      }
      min-height: auto;
      padding: rem(30);
      margin-bottom: rem(30);
    }
  }
  &__logo {
    max-width: rem(640);
    width: 100%;
    margin: 0 auto;
    filter: invert(0);
    margin-bottom: rem(40);
    img {
      max-width: 100%;
    }
    @media (max-width: $mobile) {
      margin-bottom: rem(30);
    }
  }
  &__title {
    @include adaptiveValue('font-size', 32, 26);
    color: #fff;
    z-index: 5;
    text-align: center;
  }
  &__data {
    text-align: center;
    margin-top: rem(-100);
    z-index: 10;
    position: relative;
    @media (max-width: $mobile) {
      margin-top: 0;
    }
  }
  &__image {
    margin: 0 auto;
    @media (max-width: $mobile) {
      margin-bottom: rem(15);
    }
    img {
      @include adaptiveValue('width', 318, 250);
      @include adaptiveValue('height', 318, 250);
      border-radius: 50%;
      object-fit: cover;
    }
  }
  &__name {
    @include adaptiveValue('font-size', 45, 35);
    font-family: $fontFamilyHeading;
  }
  &__position {
    @include adaptiveValue('font-size', 64, 30);
    margin-bottom: rem(30);
  }
  &__info {
    font-family: $fontFamilyHeading;
    margin-bottom: rem(100);
    display: flex;
    flex-direction: column;
    gap: rem(20);
    justify-content: center;
    width: 100%;
    max-width: rem(1080);
    margin: 0 auto;
    margin-bottom: rem(60);
  }
  &__info-card {
    max-width: 100% !important;
  }

  &__socials {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: rem(40);
    @media (max-width: $tablet) {
      flex-direction: column;
      width: 100%;
    }
    .card {
      max-width: rem(565);
      @media (max-width: $tablet) {
        max-width: 100%;
      }
    }
  }
  &__socials-card {
    display: flex;
    align-items: center;
  }
  &__adv {
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    gap: rem(30);
    max-width: rem(1080);
    width: 100%;
    margin-bottom: rem(90);
    @media (max-width: $mobile) {
      flex-direction: column;
    }
  }
  &__adv-item {
    border: 2px solid transparent;
    transition: all 0.3s;
    border-radius: 25px;

    display: grid;
    place-items: center;
    @media (max-width: $mobile) {
      padding: 0;
    }
  }
  &__adv-icon {
    background: var(--3, linear-gradient(123deg, rgba(229, 229, 229, 0.7) -3.86%, rgba(255, 255, 255, 0) 109.9%));
    box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.05) inset, -3px -5px 6px 0px rgba(255, 255, 255, 0.38), 0px 4px 6px 0px rgba(0, 0, 0, 0.07), -3px -3px 6px 0px rgba(255, 255, 255, 0.83) inset;
    backdrop-filter: blur(8.5px);
    border-radius: 30px;
    padding: 25px;
    margin-bottom: rem(20);
  }

  &__adv-title {
    text-align: center;
    font-size: rem(28);
    max-width: rem(200);
    margin: 0 auto;
  }
  &__linkedin-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: rem(60);
    @include adaptiveValue('gap', 100, 50);
  }

  &__linkedin-image {
    position: relative;
    border-radius: 25px;
    width: 192px;
    height: 192px;
    margin-bottom: rem(30);
    display: grid;
    place-items: center;
    background: var(--3, linear-gradient(123deg, rgba(229, 229, 229, 0.7) -3.86%, rgba(255, 255, 255, 0) 109.9%));
    box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.05) inset, -3px -5px 6px 0px rgba(255, 255, 255, 0.38), 0px 4px 6px 0px rgba(0, 0, 0, 0.07), -3px -3px 6px 0px rgba(255, 255, 255, 0.83) inset;
    backdrop-filter: blur(8.5px);
  }
  &__linkedin-title {
    text-align: center;
    font-size: rem(28);
    max-width: rem(95);
    margin: 0 auto;
  }
  &__linkedin-avatar {
    position: absolute;
    right: -20px;
    top: -20px;
    z-index: 2;
    img {
      width: 76px;
      height: 76px;
      object-fit: cover;
      border-radius: 50%;
      @media (max-width: $mobile) {
        width: 50px;
        height: 50px;
      }
      @media (max-width: $mobile) {
        right: -20px;
        top: -20px;
      }
    }
  }

  &__others-card {
    margin: 0 auto;
    margin-bottom: rem(30);
    display: block;
    font-family: $fontFamilyHeading;
  }
}
