//====================================================================================================
.hero {
  padding-top: rem(60);
  padding-bottom: rem(60);
  position: relative;

  @media (min-width: $tablet) {
    &::after {
      content: '';
      position: absolute;
      top: -50%;
      left: -40%;
      background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0.75) 0%, rgba(255, 255, 255, 0) 100%);
      width: 100%;
      height: 100%;
    }
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: rem(30);
    @media (max-width: $mobile) {
      flex-direction: column;
    }
  }
  &__data {
    position: relative;
    z-index: 2;
    @media (max-width: $mobile) {
      padding-bottom: 0;
    }
    @media (min-width: $mobile) {
      flex: 0 1 rem(938);
    }
  }
  &__title {
    @include adaptiveValue('font-size', 80, 30);
    line-height: math.div(99, 80);
    @include adaptiveValue('margin-bottom', 40, 10);
    font-family: $fontFamilyHeading;
    @media (max-width: $mobile) {
      text-align: center;
    }
  }
  &__subtitle {
    @include adaptiveValue('font-size', 38, 24);
    line-height: math.div(46, 38);
    @include adaptiveValue('margin-bottom', 70, 15);
    @media (max-width: $mobile) {
      text-align: center;
      margin-bottom: rem(0);
    }
  }

  &__image {
    @media (min-width: $mobile) {
      animation: float 3s infinite ease-in-out;
    }
    flex: 0 0 percent(600, 1595);
    img {
      max-width: 100%;
      height: auto;
    }
  }
  @keyframes float {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-15px);
    }
    100% {
      transform: translateY(0);
    }
  }
}

.revenue {
  padding-top: rem(50);
  @include adaptiveValue('padding-bottom', 120, 60);
  &__title {
    @media (max-width: $mobile) {
      text-align: center;
      margin-bottom: rem(0) !important;
    }
  }
  &__wrapper {
    position: relative;
    @media (max-width: em(1180)) {
      display: flex;
      flex-direction: column;
      gap: rem(30);
    }
  }
  &__steps {
    display: flex;
    flex-direction: column;
    @include adaptiveValue('gap', 64, 30);
    max-width: rem(1050);
    margin-right: 30%;
    @media (max-width: em(1180)) {
      transform: translate(0);
      justify-content: center;
      max-width: 100%;
      margin-right: 0;
      padding-right: rem(60);
    }
    @media (max-width: $mobile) {
      padding-right: 0;
    }
  }
  &__step {
    display: flex;
    align-items: center;
    &:nth-child(even) {
      justify-content: flex-end;
      @media (max-width: em(1180)) {
        .revenue__step-value {
          order: -2;
        }
        .revenue__step-line {
          order: -1;
        }
      }
      @media (max-width: $mobile) {
        justify-content: flex-start;
      }
    }
  }
  &__step-text {
    max-width: rem(505);
    padding: rem(37) rem(32);
    font-family: $fontFamilyHeading;
    font-size: rem(24);
    line-height: math.div(29, 20);
    background: linear-gradient(123.09deg, rgba(229, 229, 229, 0.7) -3.86%, rgba(255, 255, 255, 0) 109.9%);
    box-shadow: inset -3px -3px 6px rgba(255, 255, 255, 0.83), inset 1px 1px 5px rgba(0, 0, 0, 0.05);
    filter: drop-shadow(0px 4px 6px rgba(0, 0, 0, 0.07)) drop-shadow(-3px -5px 6px rgba(255, 255, 255, 0.38));
    border-radius: 25px;
    @media (max-width: $mobile) {
      display: flex;
      align-items: center;
      gap: rem(15);
      max-width: 100%;
      font-size: rem(18);
      width: 100%;
    }
  }
  &__step-value {
    position: relative;
    @include adaptiveValue('font-size', 48, 26);
    line-height: math.div(60, 48);
    color: #fff;
    z-index: 2;
    @include adaptiveValue('width', 100, 50);
    @include adaptiveValue('height', 100, 50);
    display: grid;
    place-items: center;
    background: linear-gradient(123.09deg, rgba(229, 229, 229, 0.7) -3.86%, rgba(255, 255, 255, 0) 109.9%);
    box-shadow: inset -3px -3px 6px rgba(255, 255, 255, 0.83), inset 1px 1px 5px rgba(0, 0, 0, 0.05);
    filter: drop-shadow(0px 0px 6px rgba(0, 0, 0, 0.07)) drop-shadow(-2px -3px 6px rgba(255, 255, 255, 0.38));
    border-radius: 50%;
    font-family: $fontFamilyHeading;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15), -3px -4px 6px rgba(255, 255, 255, 0.38);
    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background: linear-gradient(125.98deg, rgba(255, 255, 255, 0.2) 97.01%, rgba(255, 255, 255, 0.2) 97.01%);
      filter: drop-shadow(0px 4px 15px rgba(0, 0, 0, 0.01));
      @include adaptiveValue('width', 130, 60);
      @include adaptiveValue('height', 130, 60);
      border-radius: 50%;
      z-index: -1;
    }
    @media (max-width: $mobile) {
      display: none;
    }
  }

  &__step-value--mobile {
    display: none;
    @media (max-width: $mobile) {
      display: grid;
      flex: 0 0 50px;
    }
  }

  &__step-line {
    z-index: 3;
    padding: rem(0) rem(30) 0 rem(20);
    @media (max-width: $mobile) {
      display: none;
    }
  }
  &__decor {
    position: absolute;
    right: 0;
    z-index: -1;
    @include adaptiveValue('bottom', -100, -10);
    transform: translateX(160px);
    @include adaptiveValue('max-width', 750, 620, 3, 1595, 1180);
    @media (max-width: em(1180)) {
      position: relative;
      bottom: 0;
      align-self: flex-end;
      transform: translateX(50px);
    }
    img {
      max-width: 100%;
      height: auto;
    }
    @media (max-width: $mobile) {
    }
  }
}

.benefits {
  @include adaptiveValue('padding-bottom', 300, 50);
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width: em(1180)) {
      flex-direction: column;
    }
  }
  &__inner {
    position: relative;
  }
  &__data {
    position: relative;
    @include adaptiveValue('width', 530, 260);
    @include adaptiveValue('height', 530, 260);
    display: grid;
    place-items: center;
    z-index: 10;
    background: url('@img/benefits-small.svg') 0 0 no-repeat;
    background-size: contain;
    border-radius: 50%;
    z-index: 2;
    &::after {
      content: '';
      position: absolute;
      width: 110%;
      height: 110%;
      background: url('@img/benefits-big.svg') no-repeat center;
      background-size: contain;
      z-index: -1;
    }
    @media (max-width: em(1180)) {
      margin: 0 auto;
      padding: rem(30);
    }
  }
  &__data-inner {
    max-width: rem(350);
    text-align: center;
  }
  &__data-title {
    @include adaptiveValue('font-size', 36, 20);
    font-size: rem(36);

    line-height: math.div(44, 36);
    @include adaptiveValue('margin-bottom', 25, 15);
    font-family: $fontFamilyHeading;
  }
  &__data-description {
    @include adaptiveValue('font-size', 28, 18);
    line-height: math.div(35, 28);
  }
  &__items {
    display: flex;
    flex-direction: column;
    @include adaptiveValue('gap', 60, 25);
    flex: 1 1 auto;
    position: relative;
    &::before {
      content: '';
      position: absolute;
      left: -270px;
      top: 0;
      width: 100%;
      height: 100%;
      background: url('@img/why-mask.svg') 0 0 no-repeat;
      background-position: left;
      z-index: -3;
      @media (max-width: em(1180)) {
        display: none;
      }
    }
  }
  &__item {
    padding: rem(32);
    background: linear-gradient(123.09deg, rgba(229, 229, 229, 0.7) -3.86%, rgba(255, 255, 255, 0) 109.9%);
    box-shadow: inset -3px -3px 6px rgba(255, 255, 255, 0.83), inset 1px 1px 5px rgba(0, 0, 0, 0.05);
    border-radius: 25px;
    @media (min-width: em(1180)) {
      max-width: rem(688);
      &:nth-child(2),
      &:nth-child(3) {
        @include adaptiveValue('margin-left', 220, 50);
      }
      &:nth-child(1) {
        transform: translateY(-30px);
      }
      &:nth-child(4) {
        transform: translateY(30px);
      }
    }
  }
  &__item-title {
    @include adaptiveValue('font-size', 24, 20);
    line-height: math.div(29, 24);
    margin-bottom: rem(25);
    font-family: $fontFamilyHeading;
    @media (max-width: $mobile) {
      margin-bottom: rem(10);
    }
  }
  &__item-descr {
    @include adaptiveValue('font-size', 20, 18);
  }
  &__decor {
    position: absolute;
    bottom: -500px;
    left: -166px;
    z-index: -3;
    @media (max-width: em(1180)) {
      position: relative;
      bottom: 0;
      left: 0;
      z-index: -2;
      transform: translate(-150px, 50px);
      img {
        max-width: 100%;
        height: auto;
      }
      &::before {
        content: '';
        position: absolute;
        @include adaptiveValue('top', -150, -50);
        left: 50%;
        transform: translate(calc(-50% + 150px));
        @include adaptiveValue('width', 500, 270);
        @include adaptiveValue('height', 700, 230);
        background: url('@img/why-mask-mobile.svg') 0 0 no-repeat;
        background-size: contain;
        background-position: center center;
        z-index: -2;
      }
    }
    @media (max-width: $mobile) {
      transform: translateX(-30px) !important;
      &::before {
        transform: translate(calc(-50% + 30px));
      }
    }
  }
}

.produce {
  @include adaptiveValue('padding-bottom', 100, 50);

  &__item {
    display: flex;
    align-items: center;
    gap: rem(30);
    margin-bottom: rem(30);
    @media (max-width: $mobile) {
      flex-direction: column;
      gap: rem(15);
    }
  }

  &__item:nth-child(even) {
    @media (min-width: $mobile) {
      .produce__item-img {
        order: 2;
      }
    }
  }
  &__item-title {
    @include adaptiveValue('font-size', 36, 18);
    line-height: math.div(44, 36);
    font-family: $fontFamilyHeading;
    @include adaptiveValue('margin-bottom', 30, 10);
  }
  &__item-descr {
    @include adaptiveValue('font-size', 28, 16);
    line-height: math.div(35, 28);
    &:not(:last-child) {
      margin-bottom: rem(15);
    }
  }
  &__item-img {
    flex: 0 0 percent(460, 1540);
  }
  &__item-img img {
    max-width: 100%;
    height: auto;
  }
  &__more {
    color: #4d64aa;
    display: flex;
    align-items: center;
    gap: rem(10);
    margin: 0 auto;
    text-align: center;
    font-weight: 600;
    position: relative;
    @media (any-hover: hover) {
      &:hover {
        color: #5b79d1;
      }
    }
    svg {
      fill: currentColor;
    }
  }
}

.callback {
  position: relative;

  @include adaptiveValue('padding-bottom', 100, 50);
  &__wrapper {
    @include adaptiveValue('padding-top', 80, 30);
    @include adaptiveValue('padding-bottom', 80, 30);
    padding-left: rem(30);
    padding-right: rem(30);
    background: linear-gradient(123.09deg, rgba(229, 229, 229, 0.7) -3.86%, rgba(255, 255, 255, 0) 109.9%);
    box-shadow: inset -3px -3px 6px rgba(255, 255, 255, 0.83), inset 1px 1px 5px rgba(0, 0, 0, 0.05);
    filter: drop-shadow(0px 4px 6px rgba(0, 0, 0, 0.07)) drop-shadow(-3px -5px 6px rgba(255, 255, 255, 0.38));
    border-radius: 25px;
  }
  &__inner {
    max-width: rem(1060);
    margin: 0 auto;
    text-align: center;
  }
  &__title {
    @include adaptiveValue('font-size', 48, 24);
    line-height: math.div(59, 48);
    margin-bottom: rem(40);
    text-align: center;
    font-family: $fontFamilyHeading;
  }
  &__descr {
    @include adaptiveValue('font-size', 28, 20);
    @include adaptiveValue('margin-bottom', 65, 5);
  }
  &__inputs {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: rem(40);

    @include adaptiveValue('margin-bottom', 65, 25);
    label:focus-within > span,
    input:not(:placeholder-shown) + span {
      transform: translateY(0px);
    }
    @media (max-width: $mobile) {
      flex-direction: column;
      gap: rem(15);
    }
  }

  &__button {
    background-color: #cecece;
    pointer-events: none;
    &._active {
      background-color: #2e2d2c;
      pointer-events: auto;
      @media (any-hover: hover){
        &:hover{
          background-color: #4d64aa;
        }
      }
    }
  }

  &__label {
    position: relative;
    border-bottom: 1px solid #2e2d2c;
    width: 100%;
    cursor: text;
    span {
      position: absolute;
      top: 0;
      left: 0;
      transform: translateY(30px);
      font-size: 20px;
      transition-duration: 300ms;
    }

    @media (any-hover: hover) {
      &:hover {
        color: #4d64aa;
        border-bottom: 1px solid #4d64aa;
        &::after {
          background-color: #4d64aa;
        }
      }
    }

    &._active,
    &._form-focus {
      color: #4d64aa;
      border-bottom: 1px solid #4d64aa;
      .callback__input {
        color: #4d64aa;
      }
      &::after {
        background-color: #4d64aa;
      }
    }

    &::after {
      content: '';
      position: absolute;
      bottom: -3px;
      right: 0;
      width: rem(6);
      height: rem(6);
      background-color: #2e2d2c;
      border-radius: 50%;
    }
  }
}

.portfolio {
  @include adaptiveValue('padding-bottom', 100, 50);
  &__items {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: rem(40);
    @include adaptiveValue('gap', 40, 15, 3, 1540, 992);
    
    @media (max-width: $tablet) {
      grid-template-columns: repeat(3, 1fr);
    }
    @media (max-width: $mobile) {
      grid-template-columns: 1fr;
    }
  }
  &__item {
    background: linear-gradient(123.09deg, #e5e5e5 -3.86%, #fafafa 109.9%);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.07), -3px -5px 6px rgba(255, 255, 255, 0.38), inset -3px -3px 6px rgba(255, 255, 255, 0.83),
      inset 1px 1px 5px rgba(0, 0, 0, 0.05);
    backdrop-filter: blur(8.5px);
    border-radius: 25px;
    transition: color 0.2s ease 0s;
    @include adaptiveValue('padding', 32, 15);
    @media (max-width: $mobile) {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: rem(15);
    }
    svg path {
      transition: stroke 0.2s ease 0s;
    }
    @media (any-hover: hover) {
      &:hover {
        color: #4d64aa;
        svg path {
          stroke: #4d64aa;
        }
      }
    }
  }
  &__item-title {
    @include adaptiveValue('font-size', 24, 18);
    line-height: math.div(29, 24);
    font-family: $fontFamilyHeading;
    @media (min-width: $mobile) {
      min-height: rem(60);
      margin-bottom: rem(30);
    }
  }
  &__item-img {
    @media (max-width: $mobile) {
      @include adaptiveValue('max-width', 300, 65);
      @include adaptiveValue('height', 300, 50);
    }
  }
  &__item-img img {
    max-width: 100%;
    height: auto;
  }
}

.work {
  @include adaptiveValue('padding-bottom', 100, 50);
  &__wrapper {
    display: flex;
    align-items: center;
    gap: rem(30);
    @media (max-width: em(1180)) {
      width: 100%;
      display: flex;
      flex-direction: column;
    }
  }
  &__steps {
    display: flex;
    flex-direction: column;
    gap: rem(64);
    @include adaptiveValue('gap', 64, 30);
    width: 100%;
  }
  &__step {
    display: flex;
    align-items: center;
    @media (min-width: em(1180)) {
      &:first-child,
      &:last-child {
        margin-left: rem(500);
        @include adaptiveValue('margin-left', 500, 200, 3, 1540, 1180);
      }
      &:nth-child(2),
      &:nth-child(5) {
        margin-left: rem(230);
        @include adaptiveValue('margin-left', 230, 50, 3, 1540, 1180);
      }
    }
    @media (max-width: em(1180)) {
      &:nth-child(even) {
        align-self: flex-end;
        .work__step-value {
          order: -2;
        }
        .work__step-line {
          order: -1;
        }
      }
    }
  }

  &__step-line {
    z-index: 3;
    padding: rem(0) rem(20) 0 rem(20);
    @media (max-width: $mobile) {
      display: none;
    }
  }
  &__step-data {
    padding: rem(32);
    background: linear-gradient(123.09deg, rgba(229, 229, 229, 0.7) -3.86%, rgba(255, 255, 255, 0) 109.9%);
    box-shadow: inset -3px -3px 6px rgba(255, 255, 255, 0.83), inset 1px 1px 5px rgba(0, 0, 0, 0.05);
    filter: drop-shadow(0px 4px 6px rgba(0, 0, 0, 0.07)) drop-shadow(-3px -5px 6px rgba(255, 255, 255, 0.38));
    border-radius: 25px;
    width: rem(550);
    @media (max-width: em(1180)) {
      width: 100%;
      max-width: rem(550);
    }
  }
  &__step-title {
    font-family: $fontFamilyHeading;
    @include adaptiveValue('font-size', 24, 18);
    line-height: math.div(29, 20);
    margin-bottom: rem(15);
    @media (max-width: $mobile) {
      display: flex;
      align-items: center;
      gap: rem(15);
    }
  }
  &__step-descr {
    @include adaptiveValue('font-size', 20, 18);
    line-height: math.div(26, 20);
  }
  &__step-value {
    position: relative;
    @include adaptiveValue('font-size', 48, 26);
    line-height: math.div(60, 48);
    color: #fff;
    z-index: 2;
    @include adaptiveValue('width', 100, 50);
    @include adaptiveValue('height', 100, 50);
    display: grid;
    place-items: center;
    background: linear-gradient(123.09deg, rgba(229, 229, 229, 0.7) -3.86%, rgba(255, 255, 255, 0) 109.9%);
    box-shadow: inset -3px -3px 6px rgba(255, 255, 255, 0.83), inset 1px 1px 5px rgba(0, 0, 0, 0.05);
    filter: drop-shadow(0px 0px 6px rgba(0, 0, 0, 0.07)) drop-shadow(-2px -3px 6px rgba(255, 255, 255, 0.38));
    border-radius: 50%;
    font-family: $fontFamilyHeading;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15), -3px -4px 6px rgba(255, 255, 255, 0.38);
    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background: linear-gradient(125.98deg, rgba(255, 255, 255, 0.2) 97.01%, rgba(255, 255, 255, 0.2) 97.01%);
      @include adaptiveValue('width', 130, 60);
      @include adaptiveValue('height', 130, 60);
      border-radius: 50%;
      z-index: -1;
    }
    @media (max-width: $mobile) {
      display: none;
    }
  }

  &__step-value--mobile {
    display: none;
    @media (max-width: $mobile) {
      display: grid;
      flex: 0 0 50px;
      height: rem(50);
    }
  }
  &__image {
    transform: translateX(-200px);
    flex: 0 0 percent(830, 1540);
    img {
      max-width: 100%;
    }
    @media (max-width: em(1180)) {
      order: -1;
      transform: translate(0);
    }
  }
}

.advantages {
  @include adaptiveValue('padding-bottom', 100, 50);
  &__title {
    margin-bottom: rem(20);
  }
  &__subtitle {
    @include adaptiveValue('margin-bottom', 80, 25);
    @include adaptiveValue('font-size', 28, 16);
  }
  &__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    @include adaptiveValue('gap', 40, 20);
    @media (max-width: em(1180)) {
      grid-template-columns: repeat(3, 1fr);
    }
    @media (max-width: $tablet) {
      grid-template-columns: 1fr 1fr;
    }
    @media (max-width: em(580)) {
      grid-template-columns: 1fr;
    }
  }
  &__item {
    @include adaptiveValue('padding', 30, 15);
    background: linear-gradient(123.09deg, #e5e5e5 -3.86%, #fafafa 109.9%);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.07), -3px -5px 6px rgba(255, 255, 255, 0.38), inset -3px -3px 6px rgba(255, 255, 255, 0.83),
      inset 1px 1px 5px rgba(0, 0, 0, 0.05);
    backdrop-filter: blur(8.5px);
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: rem(15);
    min-height: rem(370);
    transition: color 0.2s ease 0s;
    @media (max-width: em(580)) {
      flex-direction: row;
      align-items: center;
      min-height: auto;
    }
    svg {
      max-width: rem(120);
      @media (max-width: $mobileSmall) {
        max-width: rem(60);
      }
    }
    @media (any-hover: hover) {
      &:hover {
        color: #4d64aa;
        svg path {
          stroke: #4d64aa;
        }
        svg circle {
          stroke: #4d64aa;
        }
        svg rect {
          stroke: #4d64aa;
        }
      }
    }
  }
  &__item-title {
    font-family: $fontFamilyHeading;
    @include adaptiveValue('font-size', 24, 16);
    line-height: math.div(29, 24);
  }
  &__item-img {
    align-self: flex-end;
    img {
      max-width: 100%;
      height: auto;
    }
    @media (max-width: em(580)) {
      width: rem(80);
      flex: 0 0 rem(80);
    }
  }
}

.team {
  @include adaptiveValue('padding-bottom', 100, 50);
  &__title {
    margin-bottom: rem(25);
  }
  &__subtitle {
    @include adaptiveValue('margin-bottom', 80, 25);
  }
  &__list {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(4, 1fr);
    @include adaptiveValue('gap', 80, 15);
    @media (max-width: $tablet) {
      grid-template-columns: 1fr 1fr;
    }
  }
  &__item-name {
    font-family: $fontFamilyHeading;
    margin-bottom: rem(8);
    @include adaptiveValue('font-size', 24, 16);
    line-height: math.div(29, 24);
  }
  &__item-post {
    @include adaptiveValue('font-size', 28, 16);
    line-height: math.div(35, 28);
    color: #4d64aa;
  }
  &__image-ibg {
    padding-bottom: percent(428, 328);
    margin-bottom: rem(30);
  }
}

.map {
  &__wrapper {
    display: flex;
    align-items: center;

    @media (max-width: em(1300)) {
      flex-direction: column;
    }
  }

  &__places {
    @media (max-width: em(1300)) {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      align-items: center;
      border-radius: rem(25);
      gap: rem(15);
    }
    @media (max-width: $mobile) {
      grid-template-columns: 1fr;
      gap: 0;
    }
  }

  &__place {
    background: linear-gradient(123.09deg, #e5e5e5 -3.86%, #fafafa 109.9%);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.07), -3px -5px 6px rgba(255, 255, 255, 0.38), inset -3px -3px 6px rgba(255, 255, 255, 0.83),
      inset 1px 1px 5px rgba(0, 0, 0, 0.05);

    filter: drop-shadow(0px 0px 6px rgba(0, 0, 0, 0.07)) drop-shadow(-2px -3px 6px rgba(255, 255, 255, 0.38));
    padding: rem(22);
    border-radius: rem(25);
    position: relative;
    z-index: 2;
    transition: color 0.3s ease 0s;
    @include adaptiveValue('margin-bottom', 30, 20);
    @media (min-width: em(1300)) {
      width: rem(270);
    }

    &::after,
    &::before {
      content: '';
      position: absolute;
      height: 100%;
      background-size: contain;
      background-repeat: no-repeat;
      z-index: 2;
      pointer-events: none;
      transition: opacity 0.3s ease 0s;
      @media (max-width: em(1300)) {
        display: none;
      }
    }

    &:not(:last-child) {
      @media (min-width: em(1300)) {
        margin-bottom: rem(40);
      }
    }

    &.map-cis,
    &.map-southEast {
      @media (min-width: em(1300)) {
        transform: translateX(548px);
      }
    }

    &.map-germany,
    &.map-rakez {
      @media (min-width: em(1300)) {
        min-width: rem(450);
      }
    }
    &.map-southEast {
      &::after {
        right: -174%;
        top: -55px;
        background-image: url("data:image/svg+xml,%3Csvg width='414' height='137' viewBox='0 0 414 137' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.666667 131C0.666667 133.946 3.05448 136.333 6 136.333C8.94552 136.333 11.3333 133.946 11.3333 131C11.3333 128.054 8.94552 125.667 6 125.667C3.05448 125.667 0.666667 128.054 0.666667 131ZM256.5 131V132H256.86L257.138 131.77L256.5 131ZM402.667 5.5C402.667 8.44552 405.054 10.8333 408 10.8333C410.946 10.8333 413.333 8.44552 413.333 5.5C413.333 2.55448 410.946 0.166667 408 0.166667C405.054 0.166667 402.667 2.55448 402.667 5.5ZM6 132H256.5V130H6V132ZM257.138 131.77L408.638 6.27009L407.362 4.72991L255.862 130.23L257.138 131.77Z' fill='white'/%3E%3C/svg%3E%0A");
        width: rem(452);
      }
      &::before {
        right: -174%;
        top: -55px;
        background-image: url("data:image/svg+xml,%3Csvg width='414' height='137' viewBox='0 0 414 137' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.666667 131C0.666667 133.946 3.05448 136.333 6 136.333C8.94552 136.333 11.3333 133.946 11.3333 131C11.3333 128.054 8.94552 125.667 6 125.667C3.05448 125.667 0.666667 128.054 0.666667 131ZM256.5 131V132H256.86L257.138 131.77L256.5 131ZM402.667 5.5C402.667 8.44552 405.054 10.8333 408 10.8333C410.946 10.8333 413.333 8.44552 413.333 5.5C413.333 2.55448 410.946 0.166667 408 0.166667C405.054 0.166667 402.667 2.55448 402.667 5.5ZM6 132H256.5V130H6V132ZM257.138 131.77L408.638 6.27009L407.362 4.72991L255.862 130.23L257.138 131.77Z' fill='black'/%3E%3C/svg%3E%0A");
        width: rem(452);
        opacity: 0;
      }
    }
    &.map-rakez {
      &::after {
        right: -123%;
        top: 70px;
        background-image: url("data:image/svg+xml,%3Csvg width='544' height='67' viewBox='0 0 544 67' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.709794 5.32283C0.335928 8.24453 2.40135 10.9161 5.32305 11.29C8.24474 11.6638 10.9163 9.59842 11.2902 6.67672C11.6641 3.75503 9.59863 1.08344 6.67694 0.709578C3.75524 0.335712 1.08366 2.40114 0.709794 5.32283ZM175.001 5.99992L175.15 5.0112L175.076 4.99992L175.001 4.99992L175.001 5.99992ZM532.708 60.3228C532.335 63.2445 534.4 65.9161 537.322 66.29C540.243 66.6638 542.915 64.5984 543.289 61.6767C543.663 58.755 541.597 56.0834 538.676 55.7096C535.754 55.3357 533.082 57.4011 532.708 60.3228ZM5.99999 6.99978L175.001 6.99992L175.001 4.99992L5.99999 4.99978L5.99999 6.99978ZM174.851 6.98863L537.849 61.9885L538.148 60.011L175.15 5.0112L174.851 6.98863Z' fill='white'/%3E%3C/svg%3E%0A");
        width: rem(534);
      }
      &::before {
        right: -123%;
        top: 70px;
        background-image: url("data:image/svg+xml,%3Csvg width='544' height='67' viewBox='0 0 544 67' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.709794 5.32283C0.335928 8.24453 2.40135 10.9161 5.32305 11.29C8.24474 11.6638 10.9163 9.59842 11.2902 6.67672C11.6641 3.75503 9.59863 1.08344 6.67694 0.709578C3.75524 0.335712 1.08366 2.40114 0.709794 5.32283ZM175.001 5.99992L175.15 5.0112L175.076 4.99992L175.001 4.99992L175.001 5.99992ZM532.708 60.3228C532.335 63.2445 534.4 65.9161 537.322 66.29C540.243 66.6638 542.915 64.5984 543.289 61.6767C543.663 58.755 541.597 56.0834 538.676 55.7096C535.754 55.3357 533.082 57.4011 532.708 60.3228ZM5.99999 6.99978L175.001 6.99992L175.001 4.99992L5.99999 4.99978L5.99999 6.99978ZM174.851 6.98863L537.849 61.9885L538.148 60.011L175.15 5.0112L174.851 6.98863Z' fill='black'/%3E%3C/svg%3E%0A");
        width: rem(534);
        opacity: 0;
      }
    }
    &.map-middleEast {
      &::after {
        background-image: url("data:image/svg+xml,%3Csvg width='512' height='79' viewBox='0 0 512 79' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.666667 6C0.666667 8.94552 3.05448 11.3333 6 11.3333C8.94552 11.3333 11.3333 8.94552 11.3333 6C11.3333 3.05448 8.94552 0.666667 6 0.666667C3.05448 0.666667 0.666667 3.05448 0.666667 6ZM162.5 6L162.693 5.01877L162.597 5H162.5V6ZM500.667 73.5C500.667 76.4455 503.054 78.8333 506 78.8333C508.946 78.8333 511.333 76.4455 511.333 73.5C511.333 70.5545 508.946 68.1667 506 68.1667C503.054 68.1667 500.667 70.5545 500.667 73.5ZM6 7H162.5V5H6V7ZM162.307 6.98123L505.807 74.4812L506.193 72.5188L162.693 5.01877L162.307 6.98123Z' fill='white'/%3E%3C/svg%3E%0A");
        right: -190%;
        top: 55px;
        width: rem(500);
      }
      &::before {
        background-image: url("data:image/svg+xml,%3Csvg width='512' height='79' viewBox='0 0 512 79' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.666667 6C0.666667 8.94552 3.05448 11.3333 6 11.3333C8.94552 11.3333 11.3333 8.94552 11.3333 6C11.3333 3.05448 8.94552 0.666667 6 0.666667C3.05448 0.666667 0.666667 3.05448 0.666667 6ZM162.5 6L162.693 5.01877L162.597 5H162.5V6ZM500.667 73.5C500.667 76.4455 503.054 78.8333 506 78.8333C508.946 78.8333 511.333 76.4455 511.333 73.5C511.333 70.5545 508.946 68.1667 506 68.1667C503.054 68.1667 500.667 70.5545 500.667 73.5ZM6 7H162.5V5H6V7ZM162.307 6.98123L505.807 74.4812L506.193 72.5188L162.693 5.01877L162.307 6.98123Z' fill='black'/%3E%3C/svg%3E%0A");
        right: -190%;
        top: 55px;
        width: rem(500);
        opacity: 0;
      }
    }
    &.map-europe {
      &::after {
        content: '';
        background-image: url("data:image/svg+xml,%3Csvg width='234' height='153' viewBox='0 0 234 153' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.666667 6C0.666667 8.94552 3.05448 11.3333 6 11.3333C8.94552 11.3333 11.3333 8.94552 11.3333 6C11.3333 3.05448 8.94552 0.666667 6 0.666667C3.05448 0.666667 0.666667 3.05448 0.666667 6ZM71.7403 6L72.4102 5.25757L72.1248 5H71.7403V6ZM222.667 147C222.667 149.946 225.054 152.333 228 152.333C230.946 152.333 233.333 149.946 233.333 147C233.333 144.054 230.946 141.667 228 141.667C225.054 141.667 222.667 144.054 222.667 147ZM6 7H71.7403V5H6V7ZM71.0704 6.74243L227.33 147.742L228.67 146.258L72.4102 5.25757L71.0704 6.74243Z' fill='white'/%3E%3C/svg%3E%0A");
        right: -89%;
        top: 60px;
        width: rem(222);
      }
      &::before {
        content: '';
        background-image: url("data:image/svg+xml,%3Csvg width='234' height='153' viewBox='0 0 234 153' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.666667 6C0.666667 8.94552 3.05448 11.3333 6 11.3333C8.94552 11.3333 11.3333 8.94552 11.3333 6C11.3333 3.05448 8.94552 0.666667 6 0.666667C3.05448 0.666667 0.666667 3.05448 0.666667 6ZM71.7403 6L72.4102 5.25757L72.1248 5H71.7403V6ZM222.667 147C222.667 149.946 225.054 152.333 228 152.333C230.946 152.333 233.333 149.946 233.333 147C233.333 144.054 230.946 141.667 228 141.667C225.054 141.667 222.667 144.054 222.667 147ZM6 7H71.7403V5H6V7ZM71.0704 6.74243L227.33 147.742L228.67 146.258L72.4102 5.25757L71.0704 6.74243Z' fill='black'/%3E%3C/svg%3E%0A");
        right: -89%;
        top: 60px;
        width: rem(222);
        opacity: 0;
      }
    }
    &.map-germany {
      &::after {
        background-image: url("data:image/svg+xml,%3Csvg width='130' height='268' viewBox='0 0 130 268' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.666667 6C0.666667 8.94552 3.05448 11.3333 6 11.3333C8.94552 11.3333 11.3333 8.94552 11.3333 6C11.3333 3.05448 8.94552 0.666667 6 0.666667C3.05448 0.666667 0.666667 3.05448 0.666667 6ZM69.2681 6L70.246 5.79093L70.0769 5H69.2681V6ZM118.667 262C118.667 264.946 121.054 267.333 124 267.333C126.946 267.333 129.333 264.946 129.333 262C129.333 259.054 126.946 256.667 124 256.667C121.054 256.667 118.667 259.054 118.667 262ZM6 7H69.2681V5H6V7ZM68.2902 6.20907L123.022 262.209L124.978 261.791L70.246 5.79093L68.2902 6.20907Z' fill='white'/%3E%3C/svg%3E%0A");
        top: 60px;
        right: -30%;
        width: rem(118);
        height: rem(300);
      }
      &::before {
        background-image: url("data:image/svg+xml,%3Csvg width='130' height='268' viewBox='0 0 130 268' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.666667 6C0.666667 8.94552 3.05448 11.3333 6 11.3333C8.94552 11.3333 11.3333 8.94552 11.3333 6C11.3333 3.05448 8.94552 0.666667 6 0.666667C3.05448 0.666667 0.666667 3.05448 0.666667 6ZM69.2681 6L70.246 5.79093L70.0769 5H69.2681V6ZM118.667 262C118.667 264.946 121.054 267.333 124 267.333C126.946 267.333 129.333 264.946 129.333 262C129.333 259.054 126.946 256.667 124 256.667C121.054 256.667 118.667 259.054 118.667 262ZM6 7H69.2681V5H6V7ZM68.2902 6.20907L123.022 262.209L124.978 261.791L70.246 5.79093L68.2902 6.20907Z' fill='black'/%3E%3C/svg%3E%0A");
        top: 60px;
        right: -30%;
        width: rem(118);
        height: rem(300);
        opacity: 0;
      }
    }
    &.map-cis {
      &::after {
        background-image: url("data:image/svg+xml,%3Csvg width='320' height='477' viewBox='0 0 320 477' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.55359 8.94515C3.18015 11.4008 6.48946 12.073 8.94515 10.4464C11.4008 8.81985 12.073 5.51054 10.4464 3.05485C8.81985 0.599169 5.51054 -0.0729687 3.05485 1.55359C0.599169 3.18015 -0.0729687 6.48946 1.55359 8.94515ZM84 6L84.8963 5.55665L84.621 5L84 5L84 6ZM309.554 473.945C311.18 476.401 314.489 477.073 316.945 475.446C319.401 473.82 320.073 470.511 318.446 468.055C316.82 465.599 313.511 464.927 311.055 466.554C308.599 468.18 307.927 471.489 309.554 473.945ZM6 7L84 7L84 5L6 5L6 7ZM83.1037 6.44336L313.104 471.443L314.896 470.557L84.8963 5.55665L83.1037 6.44336Z' fill='white'/%3E%3C/svg%3E%0A");
        top: 55px;
        right: -115%;
        width: rem(300);
        height: rem(557);
      }
      &::before {
        background-image: url("data:image/svg+xml,%3Csvg width='320' height='477' viewBox='0 0 320 477' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.55359 8.94515C3.18015 11.4008 6.48946 12.073 8.94515 10.4464C11.4008 8.81985 12.073 5.51054 10.4464 3.05485C8.81985 0.599169 5.51054 -0.0729687 3.05485 1.55359C0.599169 3.18015 -0.0729687 6.48946 1.55359 8.94515ZM84 6L84.8963 5.55665L84.621 5L84 5L84 6ZM309.554 473.945C311.18 476.401 314.489 477.073 316.945 475.446C319.401 473.82 320.073 470.511 318.446 468.055C316.82 465.599 313.511 464.927 311.055 466.554C308.599 468.18 307.927 471.489 309.554 473.945ZM6 7L84 7L84 5L6 5L6 7ZM83.1037 6.44336L313.104 471.443L314.896 470.557L84.8963 5.55665L83.1037 6.44336Z' fill='black'/%3E%3C/svg%3E%0A");
        top: 55px;
        right: -115%;
        width: rem(300);
        height: rem(557);
        opacity: 0;
      }
    }

    &.active {
      color: #5b79d1;
      &::after {
        opacity: 0;
      }
      &::before {
        opacity: 1;
      }
    }

    @media (any-hover: hover) {
      &:hover {
        color: #5b79d1;
        &::after {
          opacity: 0;
        }
        &::before {
          opacity: 1;
        }
      }
    }
  }

  &__place-title {
    font-family: $fontFamilyHeading;
    margin-bottom: rem(15);
    pointer-events: none;
    @media (max-width: $mobile) {
      margin-bottom: rem(10);
      font-size: rem(16);
    }
  }
  &__place-phone,
  &__place-email {
    pointer-events: none;
    font-size: rem(16);
  }

  &__box {
    transform: translate(-60px, -25px);
    position: relative;
    z-index: 1;
    @media (max-width: em(1300)) {
      transform: translate(100px);
    }
    @media (max-width: $mobile) {
      transform: translate(170px);
    }
    svg {
      width: rem(1939);
      height: rem(1033);
      transition: all 0.3s ease 0s;
      @media (max-width: em(1300)) {
        @include adaptiveValue('width', 1400, 650);
        @include adaptiveValue('height', 1033, 349);
      }
    }
    svg path {
      transition: all 0.3s ease 0s;
      position: relative;
      &::after {
        content: '';
        background-image: url("data:image/svg+xml,%3Csvg width='25' height='25' viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12.8965 20.6377C14.4188 19.8508 19.7904 16.7027 19.7904 11.4582C19.7904 7.43109 16.5258 4.1665 12.4987 4.1665C8.47162 4.1665 5.20703 7.43109 5.20703 11.4582C5.20703 16.7027 10.5785 19.8508 12.1009 20.6377C12.354 20.7685 12.6434 20.7685 12.8965 20.6377ZM12.4987 14.5832C14.2246 14.5832 15.6237 13.1841 15.6237 11.4582C15.6237 9.73228 14.2246 8.33317 12.4987 8.33317C10.7728 8.33317 9.3737 9.73228 9.3737 11.4582C9.3737 13.1841 10.7728 14.5832 12.4987 14.5832Z' fill='%23333333'/%3E%3Cpath d='M12.8965 20.6377L13.172 21.1707H13.172L12.8965 20.6377ZM12.1009 20.6377L11.8254 21.1707H11.8254L12.1009 20.6377ZM19.1904 11.4582C19.1904 13.8622 17.9609 15.817 16.489 17.2963C15.0177 18.775 13.3553 19.7251 12.621 20.1047L13.172 21.1707C13.96 20.7634 15.7445 19.7459 17.3396 18.1427C18.9341 16.5402 20.3904 14.2987 20.3904 11.4582H19.1904ZM12.4987 4.7665C16.1944 4.7665 19.1904 7.76247 19.1904 11.4582H20.3904C20.3904 7.09972 16.8571 3.5665 12.4987 3.5665V4.7665ZM5.80703 11.4582C5.80703 7.76247 8.80299 4.7665 12.4987 4.7665V3.5665C8.14025 3.5665 4.60703 7.09972 4.60703 11.4582H5.80703ZM12.3764 20.1047C11.6421 19.7251 9.97965 18.775 8.50842 17.2963C7.03653 15.817 5.80703 13.8622 5.80703 11.4582H4.60703C4.60703 14.2987 6.06329 16.5402 7.65775 18.1427C9.25287 19.7459 11.0374 20.7634 11.8254 21.1707L12.3764 20.1047ZM12.621 20.1047C12.5407 20.1462 12.4567 20.1462 12.3764 20.1047L11.8254 21.1707C12.2513 21.3908 12.7461 21.3908 13.172 21.1707L12.621 20.1047ZM15.0237 11.4582C15.0237 12.8527 13.8932 13.9832 12.4987 13.9832V15.1832C14.556 15.1832 16.2237 13.5154 16.2237 11.4582H15.0237ZM12.4987 8.93317C13.8932 8.93317 15.0237 10.0637 15.0237 11.4582H16.2237C16.2237 9.40091 14.556 7.73317 12.4987 7.73317V8.93317ZM9.9737 11.4582C9.9737 10.0637 11.1042 8.93317 12.4987 8.93317V7.73317C10.4414 7.73317 8.7737 9.40091 8.7737 11.4582H9.9737ZM12.4987 13.9832C11.1042 13.9832 9.9737 12.8527 9.9737 11.4582H8.7737C8.7737 13.5154 10.4414 15.1832 12.4987 15.1832V13.9832Z' fill='%23333333'/%3E%3C/svg%3E%0A");
        width: rem(25);
        height: rem(25);
        position: absolute;
        top: 0;
        left: 0;
      }
    }
    svg path.active {
      cursor: pointer;
    }
    svg path.filled {
      fill: #4d64aa;
    }
    svg path.active:hover {
      fill: #4d64aa;
    }
  }

  &__balloon {
    position: absolute;
    pointer-events: none;
    @media (min-width: em(1300)) {
      display: none;
    }
  }

  .balloon {
    &-cis {
      top: percent(230, 460);
      left: percent(240, 655);
    }
    &-germany {
      top: percent(215, 460);
      left: percent(52, 655);
      @media (min-width: $mobile) {
        left: percent(55, 655);
        top: percent(220, 460);
      }
    }
    &-europe {
      top: percent(235, 460);
      left: percent(28, 655);
      @media (min-width: $mobile) {
        left: percent(30, 655);
        top: percent(240, 460);
      }
    }
    &-middleEast {
      top: percent(275, 460);
      left: percent(130, 655);
      @media (min-width: $mobile) {
        top: percent(273, 460);
        left: percent(135, 655);
      }
    }
    &-rakez {
      top: percent(342, 460);
      left: percent(194, 655);
      @media (min-width: $mobile) {
        top: percent(335, 460);
        left: percent(195, 655);
      }
    }
    &-southEast {
      top: percent(342, 460);
      left: percent(275, 655);
    }
  }

  &__more {
    color: #4d64aa;
    display: flex;
    align-items: center;
    gap: rem(10);
    margin: 0 auto;
    padding-top: rem(15);
    text-align: center;
    font-weight: 600;
    position: relative;
    @media (any-hover: hover) {
      &:hover {
        color: #5b79d1;
      }
    }
    svg {
      fill: currentColor;
    }
    @media (min-width: $mobile) {
      display: none;
    }
  }
}

//====================================================================================================
